body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}
h1 {
    font-size: 3em;
    text-align: center;
}

#planet-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.original-card {
    color: white;
    margin: 1%;
    padding: 2%;
    width: 25%;
    border: 2px solid slategrey;
    background-color: skyblue;
    text-align: center;
}
.exp-card {

}
.exp-name {

}
.exp-img {
    width: 100px;
    height: 100px;
    /* margin: 0 auto; */
}
#close {
    color: red;
}
.image {
    width: 100px;
    height: 85%;
    margin: 0 auto;
}

.hidden {
    display: none;
} 
