body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}
h1 {
    font-size: 4em;
    text-align: center;
}

#planet-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
#big-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.original-card {
    color: white;
    margin: 1%;
    /* padding: 2%; */
    width: 430px;
    height: 430px;
    border: 2px solid slategrey;
    background-color: skyblue;
    text-align: center;
}
.exp-card {
    color: white;
    margin: 1%;
    padding: 2%;
    width: 70%;
    height: 70%;
    border: 2px solid slategrey;
    background-color: skyblue;
    text-align: center;
    font-size: 16px;
}
.exp-name {
    font-size: 50px;
}
.exp-img {
    width: 65%;
    height: 65%;
    border-radius: 5px 50px 5px;
    /* margin: 0 auto; */
}
#close {
    color: red;
    position: relative;
    left: 455px;
}
.image {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.hidden {
    display: none;
} 
.search-input {
    margin: auto;
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
}
.form-control {
    width: 60%;
    padding: 5px;
}
.btn-search {
    height: 35px;
    width: 55px;
}